{% extends 'base.html' %}

{% block content %}

<section class="login-section">
  <div class="login-wrapper">

    <div class="login-card">
      <div class="login-body">

        <h3 class="login-title">Login</h3>
        <p class="login-subtitle">Access your account securely</p>

        {% if messages %}
          {% for message in messages %}
            <div class="login-msg">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}

          <div class="login-field">
            <label>Username</label>
            <input type="text" name="username" required>
          </div>

          <div class="login-field">
            <label>Password</label>
            <input type="password" name="password" required>
          </div>

          <button type="submit" class="login-btn">
            Login
          </button>

          <p class="login-register">
            Don’t have an account?
            <a href="{% url 'register' %}">Register here</a>
          </p>

        </form>

      </div>
    </div>

    <div class="login-back">
      <a href="{% url 'home' %}">⬅ Back to Homepage</a>
    </div>

  </div>
</section>

{% endblock %}